@import "bootstrap";

h1 {
	color: #4294FF;
	font-size: 72px;
	font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
	text-align: center;
	padding-top: 10px;
}

h2 {
	
	font-size: 32px;
	text-align: center;
}

body {
	background: image_url('old_map.png');
}

.navbar {
	background: image_url('sprinkles.png')
}

.hyphy-box {
	margin: 40px;
  background-color: rgb(68,68,68); /* Needed for IEs */
	-moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  border-radius: 25px;
}
